html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: $wine; 
}

h1 {
    // font-family: 'Abhaya Libre', serif;
    color: $yellow;
    font-size: 5vw;
    .cursive {
        font-family: 'Dancing Script', cursive;
        color: $red;
    }
}

p {
    font-size: 2rem;
}

.eventQuestion, 
select,
input[type='submit'] {
    font-size: 2vw;
}

label {
    padding-right: 1vw;
    color: #fafafa;
}

input[type='submit'] {
    border: none;
    background: $yellow;
}

.snark {
    color: darkslategray;
}