@import 'setup';
@import 'utils';
@import 'typography';

/*==========================
GLOBAL STYLES
==========================*/

.flex-container {
    display: flex;
}

.col {
    flex-flow: column wrap;
    align-items: center;
}

.speechBubble {
    background: white;
    border-radius: 10px;
    width: 400px;
    max-width: 500px;
    height: 60%;
    margin: 3rem 0 0 3rem;
    padding: 3rem 4rem;
}

.emilyPic {
    max-width: 40%;
    object-fit: contain;
}

.emilyCloseUp{
    display: none;
}


/*==========================
MEDIA QUERIES
==========================*/

@media (max-width: 930px) {
    .speechBubble {
        width: 215px;
        margin: 1rem 0 0 1rem;
        height: 98%;
    }
    .emilyPic{
        display: none;
    }
    .emilyCloseUp{
        display: block;
        object-fit: contain;
    }
}

@media (max-width: 700px) {
    .eventQuestion {
        font-size: 2.5vw;
    }
    .emilyCloseUp {
        max-width: 35%;
    }
    .speechBubble{
        padding: 1.5rem;
        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 9vw;
        text-align: center;
    } 
    .eventQuestion,
    select,
    input[type="submit"] {
        font-size: 4vw;
        margin: 10px 0;
    }
    form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
    .speechBubble {
        width: 174px;
    }
}